.App {
  margin-left: 10%;
}

.li{
  width: 150px;
  height: 75px;
  
}

.list{
  color: rgb(252, 149, 15);  
  display: flex;
  flex-direction: row;
  padding-block: 2%;
  list-style: none;
  flex-wrap: wrap;
  width: 40%;
  height:75%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  text-align: justify;
  text-decoration: none;
}



.block{
padding: 1%;
}

.header{
  height: 10%;
  width: 100%;
  color: rgb(252, 149, 15);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: azure
}